@import '../../variables';

.user-rating-card.home-page {
  width: 240px;
  padding: 20px;
  border-radius: 20px;
  background-color: $blue-color;
  position: relative;
  text-align: center;

  .user-avatar {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
  }

  .user-rating {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    color: $blue-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .user-name {
    font-size: 22px;
    line-height: 31px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .user-total-cards {
    font-size: 16px;
    line-height: 22px;

    span {
      color: #ffffff;
    }
  }
}

.user-rating-card.ranking-page {
}
