@import '../../variables';

.ant-col {
  padding: 8px;
}

.ant-card {
  height: 100%;
  padding: 0 22px;

  .ant-card-meta-title {
    font-family: $font-header, monospace;
  }
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-card {
  display: inline;
}

.pokemon-card {
  text-align: center;
  padding: 10px;
  flex: 1 0;
  display: block;
}

.ant-card-head-title {
  font-size: 24px;
}
