.ant-card {
  height: 100%;
  padding: 0 22px;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-card {
  height: fit-content;
  width: fit-content;
  display: inline;
}

.ant-col {
  text-align: center;
  padding: 10px;
  flex: 1 0;
}

.ant-card-head-title {
  font-size: 24px;
}
