@import '../../../../variables';

#subscribe-widget {
  background-color: $gray-background;
  border-radius: 20px;
  padding: 60px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-content: center;

  .subscribe-widget-banner {
    border-radius: 20px;
    width: 425px;
    height: 310px;
    object-fit: cover;
  }

  .subscribe-widget-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
