#main-section{
    display: flex;
    flex-direction: row;
    .left-container{
  
    }
    .right-container{
        padding-top: 100px;
        padding-left: 60px;

        h1 {
            font-size: 67px;
            font-weight: 600;
          }

          h2 {
            font-size: 22px;
          }

        .text{
            max-width: 600px;
            margin-bottom: 20px;
        }

        Input{
            border-color: black;
            
        }
    }

    .grey{
        color: rgb(89, 87, 87);

    }

    button{
        width: 200px;
        height: 50px;
        font-size: 15px;
    }

    h1{
        font-size: 40px;
    }

    .image-pokemon{
        max-width: 700px;
        max-height: 700px;
    }
}