.subscribe-input form {
  display: flex;
  box-sizing: border-box;

  input {
    width: 250px;
    padding: 19px 20px;
    border-radius: 20px;
    line-height: 22px;
    font-size: 16px;
    border: none;
  }

  button {
    height: 60px;
    padding: 19px 50px;
    margin-left: -50px;

    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 20px;
    border: none;

    display: flex;
    align-items: center;

    img {
      width: 17px;
    }
  }

  .ant-col {
    padding: 0;
  }
}

footer .subscribe-input {
  button img {
    display: none;
  }
}
