@import '../../variables';

.auction-status {
  width: auto;
  border-radius: 20px;
  padding: 7px 14px;
  font-size: 10px;
  font-weight: 600;
  margin-top: -10px;

  color: white;
}

.finished-auction {
  background-color: $green-color;
}

.active-auction {
  background-color: $blue-color;
}

.aborted-auction {
  background-color: $yellow-color;
}
