.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.page{
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Space Mono', monospace;
    text-align: center;
    margin-bottom: 20px;
  }