.auction-section {
  .tag-section {
    display: flex;
    justify-content: center;
  }

  .auction-content {
    display: flex;
    gap: 15px;
    justify-content: space-evenly;

    .auction-data {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .data-row {
        padding: 10px 0;
      }
    }
  }

  .bet-section {
    display: flex;
    gap: 15px;
    padding: 10px;
    justify-content: center;
  }
}
