$blue-color: #1677ff;
$yellow-color: #fadb14;
$green-color: #52c41a;
$gray-background: rgb(226, 226, 226);
$font-header: 'Space Mono', monospace;
$font-main: 'Montserrat', sans-serif;
$dark-gray: rgb(133, 133, 133);
